@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.17rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: 0.83rem;
  font-weight: 600;
}

h6 {
  font-size: 0.67rem;
  font-weight: 600;
}

p {
  font-size: 0.94rem;
  font-weight: 300;
  color: rgba(249, 249, 249, 0.8);
}

a {
  font-size: 0.94rem;
  text-decoration: none;
  font-weight: 300;
  color: rgba(249, 249, 249, 0.8);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: rgba(249, 249, 249, 0.6);
}

i {
  font-size: 1.17rem;
  color: rgb(254, 218, 114);
}

ul,
ol {
  list-style: none;
}

button {
  padding: 0.75em;
  border-radius: 7.5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

::-moz-selection {
  color: rgb(32, 32, 34);
  background: rgb(254, 218, 114);
}

::selection {
  color: rgb(32, 32, 34);
  background: rgb(254, 218, 114);
}

html,
body {
  line-height: 1.65;
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  color: rgb(249, 249, 249);
  background: rgb(16, 16, 16);
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}
@media screen and (max-width: 578px) {
  .container {
    flex-direction: column;
    padding: 0.95em 0.75em;
    padding-bottom: 4.7em;
  }
}
.container .testimonials-wrapper-overlay {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: rgba(16, 16, 16, 0.8);
  display: none;
}
@media screen and (max-width: 578px) {
  .container .testimonials-wrapper-overlay {
    padding: 0.95em;
  }
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay {
  width: 50%;
  padding: 1.9em 1.85em;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-radius: 15px;
  border: 1px solid rgba(249, 249, 249, 0.1);
  background: rgb(32, 32, 34);
}
@media screen and (max-width: 578px) {
  .container .testimonials-wrapper-overlay .testimonials-list-overlay {
    width: 100%;
    padding: 0.95em;
    flex-direction: column;
  }
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .btn-close {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.7;
  background: rgba(249, 249, 249, 0.1);
  transition: all 0.3s ease-in-out;
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .btn-close:hover {
  opacity: 1;
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .btn-close i {
  color: rgba(249, 249, 249, 0.6);
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-image-overlay {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-image-overlay img {
  width: 85px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid rgba(249, 249, 249, 0.1);
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-image-overlay i {
  height: 100%;
  font-size: 3.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 578px) {
  .container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-image-overlay i {
    display: none;
  }
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-comment-overlay {
  width: 80%;
}
@media screen and (max-width: 578px) {
  .container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-comment-overlay {
    width: 100%;
  }
  .container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-comment-overlay p {
    font-size: 0.83rem;
  }
}
.container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-comment-overlay .testimonials-date-overlay {
  margin: 0.6em auto;
  color: rgba(249, 249, 249, 0.6);
}
@media screen and (max-width: 578px) {
  .container .testimonials-wrapper-overlay .testimonials-list-overlay .testimonials-comment-overlay .testimonials-date-overlay {
    font-size: 0.83rem;
  }
}
.container .user-profile {
  width: 20.35%;
  height: -moz-max-content;
  height: max-content;
  position: sticky;
  top: 3.75em;
  left: 4.7em;
  margin-bottom: 3.75em;
  padding: 1.9em 1.85em;
  border-radius: 20px;
  border: 1px solid rgba(249, 249, 249, 0.1);
  background: rgb(32, 32, 34);
}
@media screen and (max-width: 578px) {
  .container .user-profile {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0.95em;
  }
}
.container .user-profile .toggle-contact {
  width: 33px;
  height: 30px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 20px;
  border-left: 1px solid rgba(249, 249, 249, 0.1);
  background: rgb(39, 39, 40);
  color: rgb(254, 218, 114);
  transition: all 0.3s ease-in-out;
  display: none;
}
.container .user-profile .toggle-contact:hover {
  box-shadow: inset 1px 1px 3px rgb(254, 218, 114);
}
.container .user-profile .toggle-contact i {
  font-size: 0.67rem;
}
@media screen and (max-width: 578px) {
  .container .user-profile .toggle-contact {
    display: grid;
    cursor: pointer;
  }
}
.container .user-profile .user-image {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.container .user-profile .user-image .image-profile {
  width: 100%;
  margin-top: 1.9em;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-image .image-profile {
    width: 15%;
    margin-top: 0;
  }
}
.container .user-profile .user-image .image-profile img {
  width: 150px;
  border-radius: 30px;
  border: 1px solid rgba(249, 249, 249, 0.1);
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-image .image-profile img {
    width: 100%;
    border-radius: 20px;
  }
}
.container .user-profile .user-image .bio-profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-image .bio-profile {
    width: 82%;
    align-items: start;
  }
}
.container .user-profile .user-image .bio-profile .username {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-image .bio-profile .username {
    margin-top: 0;
    font-size: 1rem;
  }
}
.container .user-profile .user-image .bio-profile .skills-info {
  padding: 0.3em 1em;
  border-radius: 10px;
  background: rgba(249, 249, 249, 0.1);
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-image .bio-profile .skills-info {
    font-size: 0.67rem;
  }
}
@media screen and (max-width: 578px) {
  .container .user-profile .hide-contact {
    display: none;
  }
}
.container .user-profile .user-contact {
  width: 100%;
  margin-top: 1.9em;
  padding-top: 1.9em;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-contact {
    margin-top: 1em;
    padding-top: 1em;
  }
}
.container .user-profile .user-contact .contact-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .user-profile .user-contact .contact-list:not(:first-child) {
  margin-top: 1.9em;
}
.container .user-profile .user-contact .contact-list i {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  border-left: 1px solid rgba(249, 249, 249, 0.1);
  background: rgb(39, 39, 40);
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-contact .contact-list i {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    font-size: 0.83rem;
  }
}
.container .user-profile .user-contact .contact-list .contact-body {
  width: 70%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-contact .contact-list .contact-body {
    width: 85%;
    font-size: 0.83rem;
  }
}
.container .user-profile .user-contact .contact-list .contact-body .contact-title {
  color: rgba(249, 249, 249, 0.6);
}
.container .user-profile .user-contact .contact-list .contact-body .contact-description {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(249, 249, 249);
}
.container .user-profile .user-contact .social-media {
  width: 100%;
  margin-top: 1.9em;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 578px) {
  .container .user-profile .user-contact .social-media {
    padding-top: 1em;
    margin-top: 1em;
    justify-content: start;
    gap: 1em;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
  }
  .container .user-profile .user-contact .social-media i {
    font-size: 1rem;
  }
}
.container .user-information {
  width: 66.6%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-top: 3.75em;
  margin-right: 4.7em;
  margin-bottom: 3.75em;
  padding: 1.9em 1.85em;
  border-radius: 20px;
  border: 1px solid rgba(249, 249, 249, 0.1);
  background: rgb(32, 32, 34);
}
@media screen and (max-width: 578px) {
  .container .user-information {
    width: 100%;
    padding: 0.95em;
    margin-top: -2.85em;
    margin-right: 0;
    margin-bottom: 0;
  }
  .container .user-information p {
    font-size: 0.83rem;
  }
}
.container .nav-items {
  width: 59.55%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 578px) {
  .container .nav-items {
    width: 100%;
  }
}
.container .nav-items ul {
  width: 100%;
  padding: 1.15em 1.6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid rgba(249, 249, 249, 0.1);
  border-left: 1px solid rgba(249, 249, 249, 0.1);
  background: rgba(249, 249, 249, 0.1);
}
@media screen and (max-width: 578px) {
  .container .nav-items ul {
    width: 100%;
    justify-content: center;
    gap: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
    background: rgba(39, 39, 40, 0.5);
  }
  .container .nav-items ul li a {
    font-size: 0.67rem;
  }
}
.container .user-description {
  width: 100%;
}
.container .user-description #about {
  width: 100%;
}
.container .user-description #about h1 {
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 578px) {
  .container .user-description #about h1 {
    font-size: 1.5rem;
  }
}
.container .user-description #about h1::after {
  content: '';
  display: block;
  width: 26%;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
  border-radius: 10px;
  border-bottom: 5px solid rgb(254, 218, 114);
}
.container .user-skills {
  width: 100%;
  margin-top: 2.49em;
}
@media screen and (max-width: 578px) {
  .container .user-skills {
    margin-top: 1em;
  }
}
.container .user-skills h2 {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 578px) {
  .container .user-skills h2 {
    font-size: 1.17rem;
  }
}
.container .user-skills .card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
.container .user-skills .card-wrapper .card-list {
  width: 49%;
  padding: 1.85em;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 15px;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  border-left: 1px solid rgba(249, 249, 249, 0.1);
  background: rgb(39, 39, 40);
}
@media screen and (max-width: 578px) {
  .container .user-skills .card-wrapper .card-list {
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    align-items: center;
  }
}
.container .user-skills .card-wrapper .card-list i {
  width: 65px;
  height: 65px;
  font-size: 2.15rem;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 578px) {
  .container .user-skills .card-wrapper .card-list i {
    font-size: 1.85em;
  }
}
.container .user-skills .card-wrapper .card-list .card-body {
  width: 75%;
}
@media screen and (max-width: 578px) {
  .container .user-skills .card-wrapper .card-list .card-body {
    width: 100%;
    text-align: center;
  }
}
.container .user-skills .card-wrapper .card-list .card-body .card-title {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 578px) {
  .container .user-skills .card-wrapper .card-list .card-body .card-title {
    font-size: 1rem;
  }
}
.container .testimonials {
  width: 100%;
  margin-top: 2.49em;
}
@media screen and (max-width: 578px) {
  .container .testimonials {
    margin-top: 1em;
  }
}
.container .testimonials h2 {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 578px) {
  .container .testimonials h2 {
    font-size: 1.17rem;
  }
}
.container .testimonials .testimonials-wrapper {
  width: 100%;
  padding-bottom: 2.49em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper {
    padding-bottom: 0;
  }
}
.container .testimonials .testimonials-wrapper .testimonials-profile {
  width: 100%;
  margin-top: 2.49em;
  display: flex;
  gap: 1em;
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper .testimonials-profile {
    margin-top: 1em;
  }
}
.container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list {
  width: 49%;
  scroll-snap-align: start;
  flex-shrink: 0;
  cursor: pointer;
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list {
    width: 100%;
  }
}
.container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image {
    padding: 0.95em;
  }
}
.container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image img {
  width: 85px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -2em;
  left: 2em;
  border-radius: 15px;
  border: 1px solid rgba(249, 249, 249, 0.1);
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image img {
    width: 65px;
    top: -1em;
    left: 1em;
  }
}
.container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image .testimonials-comment {
  width: 100%;
  padding: 1.85em;
  border-radius: 15px;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  border-left: 1px solid rgba(249, 249, 249, 0.1);
  background: rgb(39, 39, 40);
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image .testimonials-comment {
    width: 109%;
    padding: 0.95em;
    margin: auto -0.95em;
  }
}
.container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image .testimonials-comment .testimonials-name {
  text-align: center;
  margin-bottom: 0.6em;
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image .testimonials-comment .testimonials-name {
    margin-top: 1.5em;
    text-align: start;
  }
}
.container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image .testimonials-comment .testimonials-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media screen and (max-width: 578px) {
  .container .testimonials .testimonials-wrapper .testimonials-profile .testimonials-list .testimonials-image .testimonials-comment .testimonials-description {
    -webkit-line-clamp: 4;
  }
}
.container .clients {
  width: 100%;
  margin-top: 2.49em;
}
@media screen and (max-width: 578px) {
  .container .clients {
    margin-top: 1em;
  }
}
.container .clients h2 {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 578px) {
  .container .clients h2 {
    font-size: 1.17rem;
  }
}
.container .clients .clients-wrapper {
  width: 100%;
  padding-bottom: 2.49em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.container .clients .clients-wrapper .clients-profile {
  width: 100%;
  display: flex;
  gap: 1em;
}
.container .clients .clients-wrapper .clients-profile .clients-list {
  width: 23.5%;
  scroll-snap-align: start;
  flex-shrink: 0;
}
@media screen and (max-width: 578px) {
  .container .clients .clients-wrapper .clients-profile .clients-list {
    width: 30%;
  }
}
.container .clients .clients-wrapper .clients-profile .clients-list .clients-image {
  width: 100%;
}
.container .clients .clients-wrapper .clients-profile .clients-list .clients-image a img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}
.container .clients .clients-wrapper .clients-profile .clients-list .clients-image a img:hover {
  filter: grayscale(0);
} /*# sourceMappingURL=style.css.map */
